################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xiaomi-lidar-lds01rr-winforms/obj/Release
/.vs/xiaomi-lidar-lds01rr/CopilotIndices/0.2.1657.32929
/.vs/xiaomi-lidar-lds01rr/FileContentIndex
/.vs/xiaomi-lidar-lds01rr/v17
/.vs
